<%= erb :"commons/header" %>
<div id="form-div">
    <form method="post" id="form-style">
        <div id="mentor-bottom">
             <h2>Signing up as an </h2> 
             <h2 id="orange"> ADMIN </h2>
         </div>
        <div class="flex-row">
        <p class="label">First name</p>
        <p class="field"><input type="text" name="first_name" required/></p>
       <% if @admin.errors.include?("first_name") %>
           <% @admin.errors["first_name"].each do |error| %>
              <p class="error"><strong>First name <%= error %></strong></p>
           <% end %>
       <% end %>

        <p class="label">Surname</p>
        <p class="field"><input type="text" name="surname" /></p>
       <% if @admin.errors.include?("surname") %>
           <% @admin.errors["surname"].each do |error| %>
              <p class="error"><strong>Surname <%= error %></strong></p>
           <% end %>
       <% end %>

           
        <p class="label">Username</p>
        <p class="field"><input type="text" name="username" /></p>
       <% if @admin.errors.include?("username") %>
           <% @admin.errors["username"].each do |error| %>
              <p class="error"><strong>Username <%= error %></strong></p>
           <% end %>
       <% end %>

        </div>
       
        <p class="label">Admin Code</p>
        <p class="field"><input type="text" name="admin_code" required/></p>

        <div class="flex-row">
        <p class="label">Email</p>
        <p class="field"><input type="email" name="email" required/></p>
       <% if @admin.errors.include?("email") %>
           <% @admin.errors["email"].each do |error| %>
              <p class="error"><strong>Email <%= error %></strong></p>
           <% end %>
       <% end %>

        <p class="label">Password</p>
        <p class="field"><input type="password" name="password" required/></p>
       <% if @admin.errors.include?("password") %>
           <% @admin.errors["password"].each do |error| %>
              <p class="error"><strong>Password <%= error %></strong></p>
           <% end %>
       <% end %>

        </div>
        <%= erb :"submit_button" %>
    </form>
</div>
<%= erb :"commons/footer" %>