<%= erb :"commons/header" %>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/Admin.jpg" alt="personal Id picture">
                    <figcaption>University email</figcaption>
                </figure>
            </div>
            <nav class="menu">
                <li><a href="/my-account-admin"> > My Account</a></li>
                <li class="menu_selected"><a href="/all-mentees"> > All Mentees </a></li>
                <li><a href="/all-mentors"> > All Mentors </a></li>
                <li><a href="/help-users"> > Help Users </a> </li>
                <li><a href="/"> > Logout</a></li>
            </nav>
        </aside>
        <main>
            <section>
                  <div id="mentor-bottom">
                       <h2>All</h2> 
                       <h2 id="orange"> Mentees</h2>
                    </div>
                    <button class="button4" id="button" name="change_passw">Change password</button>
                    <div>
                        <form method="post" action="/change-password" class="accDetails" id="change_form">
                                <label for="id">Enter the ID:</label>
                                <input type="id" name="id" id="id" required>
                                <label for="password">Enter new password:</label>
                                <input type="password" name="password" id="password" required>
                                <button type="submit" action="submit" id="button" name="save">Save changes</button>
                        </form>
                    </div>
                    <script>
                        var changeButton = document.getElementsByClassName('button4')[0]
                        var changeForm = document.getElementById('change_form')
                        changeButton.addEventListener('click',function(a){changeForm.classList.toggle('active')})
                    </script> 
                <% if @mentees.count > 0 %>
                  <table id="users-table">
                    <tr>
                      <th>Id</th>
                      <th>First name</th>
                      <th>Surname</th>
                      <th>Username</th>
                      <th>Gender</th>
                      <th>Course</th>
                      <th>Year of study</th>
                      <th>Biography</th>
                      <th>Email</th>
                      <th>Password</th>
                      <th>Mentors contacted</th>
                      <th>Has mentor</th>
                      <th>Rejections</th>
                    </tr>
                  <% @mentees.each do |mentee| %>
                    <% if mentee.has_contacted > 3 || mentee.number_of_rejections > 3 %>
                        <tr id="selectedRow" >
                          <td id="problem"><%=h mentee.id %></td>
                          <td id="problem"><%=h mentee.first_name %></td>
                          <td id="problem"><%=h mentee.surname%></td>
                          <td id="problem"><%=h mentee.username %></td>
                          <td id="problem"><%=h mentee.gender %></td>
                          <td id="problem"><%=h mentee.course %></td>
                          <td id="problem"><%=h mentee.year_of_study %></td>
                          <td id="problem"><%=h mentee.biography %></td>
                          <td id="problem"><%=h mentee.email %></td>
                          <td id="problem"><%=h mentee.password %></td>
                          <td id="problem"><%=h mentee.has_contacted %></td>
                          <td id="problem"><%=h mentee.has_mentor %></td>
                          <td id="problem"><%=h mentee.number_of_rejections %></td>
                        </tr>
                     <% else %>
                       <tr id="selectedRow">
                          <td><%=h mentee.id %></td>
                          <td><%=h mentee.first_name %></td>
                          <td><%=h mentee.surname%></td>
                          <td><%=h mentee.username %></td>
                          <td><%=h mentee.gender %></td>
                          <td><%=h mentee.course %></td>
                          <td><%=h mentee.year_of_study %></td>
                          <td><%=h mentee.biography %></td>
                          <td><%=h mentee.email %></td>
                          <td><%=h mentee.password %></td>
                          <td><%=h mentee.has_contacted %></td>
                          <td><%=h mentee.has_mentor %></td>
                          <td><%=h mentee.number_of_rejections %></td>
                        </tr>
                      <% end %> 
                 <% end %> 
                </table>
                <% else %>
                  <p>The database is empty!</p>
                <% end %>
            </section>
        </main>
</div>
<%= erb :"commons/footer" %>