<%= erb :"commons/header" %>
<div id="page">
        <aside>
            <div id="profile">
                 <figure>
                    <!--this img just for testing-->
                    <img src="/mentor.jpg" alt="personal Id picture">
                    <figcaption><%= @mentor.email %></figcaption>
                </figure>
            </div>
            <nav class="menu">
                <li><a href="/my-account-mentor"> > My Account</a></li>
                <li><a href="/requests-mentor"> > My Requests</a></li>
                <li class="menu_selected"><a href="/get-help-mentor"> > Get Help</a></li>
                <li><a href="/"> > Logout</a></li>
            </nav>
        </aside>
        <main>
          <div>
              <h2>If you need any help contact one of the following admins by email</h2>
              <% if @admins.count > 0 %>
                  <%= erb :"commons/admin_emails" %>
              <% else %>
                  <p>No admins available at the moment.</p>
              <% end %>    
          </div>
          <div id="mentor-bottom">
              <h2>FAQ</h2> 
              <h2 id="orange"> Mentors</h2>
          </div>
          <% if @faqs.count > 0 %>
              <%= erb :"commons/FAQmentor" %>
          <% else %>
              <p>No questions and answers available at the moment.</p>
          <% end %>
        </main>
</div>
<%= erb :"commons/footer" %>