<%= erb :"commons/header" %>
<div id="form-div">
    
<form method="post" id="form-style">
    <div id="mentor-bottom">
         <h2>Signing up as a </h2> 
         <h2 id="orange"> MENTEE</h2>
    </div>
   <% unless @mentee.errors.size.zero? %>
       <p><strong class="error">Please correct the errors below:</strong></p>
   <% end %>
    <div class="flex-row">
    <p class="label">First name</p>
    <p class="field"><input type="text" name="first_name" required/></p>
    <% if @mentee.errors.include?("first_name") %>
        <% @mentee.errors["first_name"].each do |error| %>
           <p class="error"><strong>First name <%= error %></strong></p>
        <% end %>
    <% end %>
       
    <p class="label">Surname</p>
    <p class="field"><input type="text" name="surname" required/></p>
    <% if @mentee.errors.include?("surname") %>
        <% @mentee.errors["surname"].each do |error| %>
           <p class="error"><strong>Surname <%= error %></strong></p>
        <% end %>
    <% end %>
       
    <p class="label">Username</p>
    <p class="field"><input type="text" name="username" required/></p>
    <% if @mentee.errors.include?("username") %>
        <% @mentee.errors["username"].each do |error| %>
           <p class="error"><strong>Username <%= error %></strong></p>
        <% end %>
    <% end %>
    </div>
    
   <p class="label">University</p>
    <select class="field" name="university" required>
        <option value="Aga Khan University">Aga Khan University	</option>
        <option value="American InterContinental University - London">American InterContinental University - London</option>
        <option value="Anglia Ruskin University">Anglia Ruskin University</option>
        <option value="Aston University">Aston University</option>
        <option value="Birkbeck College">Birkbeck College</option>
        <option value="Birmingham City University">Birmingham City University</option>
        <option value="Bournemouth University">Bournemouth University</option>
        <option value="British College of Osteopathic Medicine">British College of Osteopathic Medicine</option>
        <option value="Brunel University Uxbridge">	Brunel University Uxbridge	</option>
        <option value="Buckinghamshire New University">	Buckinghamshire New University	</option>
        <option value="Camberwell College of Arts">	Camberwell College of Arts	</option>
        <option value="Canterbury Christ Church University">	Canterbury Christ Church University	</option>
        <option value="Cardiff University">	Cardiff University	</option>
        <option value="Central Saint Martins College of Art & Design">	Central Saint Martins College of Art & Design	</option>
        <option value="Chelsea College of Art and Design">	Chelsea College of Art and Design	</option>
        <option value="City University">City University	</option>
        <option value="Courtauld Institute of Art">	Courtauld Institute of Art	</option>
        <option value="Coventry University">	Coventry University	</option>
        <option value="Cranfield University">	Cranfield University	</option>
        <option value="De Montfort University Leicester">	De Montfort University Leicester	</option>
        <option value="European School of Economics">	European School of Economics	</option>
        <option value="Falmouth University">	Falmouth University	</option>
        <option value="Glasgow Caledonian University">	Glasgow Caledonian University	</option>
        <option value="Glasgow School of Art">	Glasgow School of Art	</option>
        <option value="Goldsmiths College">	Goldsmiths College	</option>
        <option value="Heriot-Watt University">	Heriot-Watt University	</option>
        <option value="Heythrop College">	Heythrop College	</option>
        <option value="Huron University USA in London">	Huron University USA in London	</option>
        <option value="ifs University College">	ifs University College	</option>
        <option value="Imperial College London">	Imperial College London	</option>
        <option value="Imperial College School of Medicine">	Imperial College School of Medicine	</option>
        <option value="University of London">	 University of London	</option>
        <option value="Keele University">	Keele University	</option>
        <option value="King's College London">	King's College London	</option>
        <option value="Leeds Metropolitan University">	Leeds Metropolitan University	</option>
        <option value="Liverpool Hope University College">	Liverpool Hope University College	</option>
        <option value="Liverpool John Moores University">	Liverpool John Moores University	</option>
        <option value="London Business School">London Business School	</option>
        <option value="London College of Science & Technology">	London College of Science & Technology	</option>
        <option value="London Guildhall University">	London Guildhall University	</option>
        <option value="London Institute of Management and Technology">	London Institute of Management and Technology	</option>
        <option value="London Metropolitan University">	London Metropolitan University	</option>
        <option value="London School of Business & Finance	">	London School of Business & Finance	</option>
        <option value="London School of Economics and Political Science">	London School of Economics and Political Science	</option>
        <option value="London School of Hygiene & Tropical Medicine">	London School of Hygiene & Tropical Medicine	</option>
        <option value="London School of Jewish Studies">	London School of Jewish Studies	</option>
        <option value="Loughborough University">	Loughborough University	</option>
        <option value="Middlesex University">	Middlesex University	</option>
        <option value="Napier University">	Napier University	</option>
        <option value="Newport International University">	Newport International University	</option>
        <option value="Nottingham Trent University">	Nottingham Trent University	</option>
        <option value="Open University">	Open University	</option>
        <option value="Oxford Brookes University">	Oxford Brookes University	</option>
        <option value="Queen Mary and Westfield College">	Queen Mary and Westfield College	</option>
        <option value="Richmond University - The American International University in London">	Richmond University - The American International University in London	</option>
        <option value="Roehampton University of Surrey">	Roehampton University of Surrey	</option>
        <option value="Royal Academy of Music">	Royal Academy of Music	</option>
        <option value="Royal College of Art">	Royal College of Art	</option>
        <option value="Royal College of Music">	Royal College of Music	</option>
        <option value="Royal Free Hospital School of Medicine">	Royal Free Hospital School of Medicine	</option>
        <option value="Royal Holloway and Bedford New College">	Royal Holloway and Bedford New College	</option>
        <option value="Sheffield Hallam University">	Sheffield Hallam University	</option>
        <option value="Sothebys Institute of Art - London">	Sothebys Institute of Art - London	</option>
        <option value="Southampton Solent University">	Southampton Solent University	</option>
        <option value="South Bank University">	South Bank University	</option>
        <option value="Staffordshire University">	Staffordshire University	</option>
        <option value="St.Patrick's International College">	St.Patrick's International College	</option>
        <option value="Stratford College London">	Stratford College London	</option>
        <option value="Swansea Metropolitan University">	Swansea Metropolitan University	</option>
        <option value="Thames Valley University">	Thames Valley University	</option>
        <option value="The American University in London">	The American University in London	</option>
        <option value="The Manchester Metropolitan University">	The Manchester Metropolitan University	</option>
        <option value="The Queen's University Belfast">	The Queen's University Belfast	</option>
        <option value="The Robert Gordon University">	The Robert Gordon University	</option>
        <option value="Trinity College Carmarthen">	Trinity College Carmarthen	</option>
        <option value="Trinity College of Music">	Trinity College of Music	</option>
        <option value="United Medical and Dental Schools">	United Medical and Dental Schools	</option>
        <option value="University Campus Suffolk">	University Campus Suffolk	</option>
        <option value="University College London">	University College London	</option>
        <option value="University of Aberdeen">	University of Aberdeen	</option>
        <option value="University of Abertay Dundee">	University of Abertay Dundee	</option>
        <option value="University of Bath">	University of Bath	</option>
        <option value="University of Bedfordshire">	University of Bedfordshire	</option>
        <option value="University of Birmingham">	University of Birmingham	</option>
        <option value="University of Bolton">	University of Bolton	</option>
        <option value="University of Bradford">	University of Bradford	</option>
        <option value="University of Brighton">	University of Brighton	</option>
        <option value="University of Bristol">	University of Bristol	</option>
        <option value="University of Buckingham">	University of Buckingham	</option>
        <option value="University of Cambridge">	University of Cambridge	</option>
        <option value="University of Central Lancashire">	University of Central Lancashire	</option>
        <option value="University of Chester">	University of Chester	</option>
        <option value="University of Derby">	University of Derby	</option>
        <option value="University of Dundee">	University of Dundee	</option>
        <option value="University of Durham">	University of Durham	</option>
        <option value="University of East Anglia">	University of East Anglia	</option>
        <option value="University of East London">	University of East London	</option>
        <option value="University of Edinburgh">	University of Edinburgh	</option>
        <option value="University of Essex">	University of Essex	</option>
        <option value="University of Exeter">	University of Exeter	</option>
        <option value="University of Glamorgan">	University of Glamorgan	</option>
        <option value="University of Glasgow">	University of Glasgow	</option>
        <option value="University of Gloucestershire">	University of Gloucestershire	</option>
        <option value="University of Greenwich">	University of Greenwich	</option>
        <option value="University of Halifax">	University of Halifax	</option>
        <option value="University of Hertfordshire">	University of Hertfordshire	</option>
        <option value="University of Huddersfield">	University of Huddersfield	</option>
        <option value="University of Hull">	University of Hull	</option>
        <option value="University of Kent at Canterbury">	University of Kent at Canterbury	</option>
        <option value="University of Lancaster">	University of Lancaster	</option>
        <option value="University of Leeds">	University of Leeds	</option>
        <option value="University of Leicester">	University of Leicester	</option>
        <option value="University of Lincoln">	University of Lincoln	</option>
        <option value="University of Liverpool">	University of Liverpool	</option>
        <option value="University of London">	University of London	</option>
        <option value="University of Manchester">	University of Manchester	</option>
        <option value="University of Newcastle-upon-Tyne">	University of Newcastle-upon-Tyne	</option>
        <option value="University of Northampton">	University of Northampton	</option>
        <option value="University of North London">	University of North London	</option>
        <option value="University of Northumbria at Newcastle">	University of Northumbria at Newcastle	</option>
        <option value="University of Nottingham">	University of Nottingham	</option>
        <option value="University of Oxford">	University of Oxford	</option>
        <option value="University of Paisley">	University of Paisley	</option>
        <option value="University of Plymouth">	University of Plymouth	</option>
        <option value="University of Portsmouth">	University of Portsmouth	</option>
        <option value="University of Reading">	University of Reading	</option>
        <option value="University of Salford">	University of Salford	</option>
        <option value="University of Sheffield">	University of Sheffield	</option>
        <option value="University of Southampton">	University of Southampton	</option>
        <option value="University of St. Andrews">	University of St. Andrews	</option>
        <option value="University of Stirling">	University of Stirling	</option>
        <option value="University of Strathclyde">	University of Strathclyde	</option>
        <option value="University of Sunderland">	University of Sunderland	</option>
        <option value="University of Surrey">	University of Surrey	</option>
        <option value="University of Sussex">	University of Sussex	</option>
        <option value="University of Teesside">	University of Teesside	</option>
        <option value="University of the West of England">	University of the West of England	</option>
        <option value="University of Ulster">	University of Ulster	</option>
        <option value="University of Wales">	University of Wales	</option>
        <option value="University of Wales">	University of Wales	</option>
        <option value="University of Wales">	University of Wales	</option>
        <option value="University of Wales College of Medicine">	University of Wales College of Medicine	</option>
        <option value="University of Wales Institute">	University of Wales Institute	</option>
        <option value="University of Wales">	University of Wales	</option>
        <option value="University of Warwick">	University of Warwick	</option>
        <option value="University of Westminster">	University of Westminster	</option>
        <option value="University of Wolverhampton">	University of Wolverhampton	</option>
        <option value="University of Worcester">	University of Worcester	</option>
        <option value="University of York">	University of York	</option>
        <option value="Warburg Institute">	Warburg Institute	</option>
        <option value="Warnborough University">	Warnborough University	</option>
        <option value="William Gilbert College">	William Gilbert College	</option>
        <option value="Wimbledon School of Art">	Wimbledon School of Art	</option>
    </select>
    
    <p class="label">Course</p>
    <p class="field"><input type="text" name="course" required/></p>
    <% if @mentee.errors.include?("course") %>
        <% @mentee.errors["course"].each do |error| %>
           <p class="error"><strong>Course <%= error %></strong></p>
        <% end %>
    <% end %>
    
    <p class="label">Gender</p>
    <select class="field" name="gender" required>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="non_binary">Non-binary</option>
    </select>
    
    <p class="label">Year of Study</p>
    <select class="field" name="year_of_study" required>
      <option value="1">1st</option>
      <option value="2">2nd</option>
      <option value="3">3rd</option>
      <option value="4">4th</option>
    </select>
    
    <div class="flex-row">
    <p class="label">Email</p>
    <p class="field"><input type="email" name="email" required/></p>
    <% if @mentee.errors.include?("email") %>
        <% @mentee.errors["email"].each do |error| %>
           <p class="error"><strong>Email <%= error %></strong></p>
        <% end %>
    <% end %>
       
    <p class="label">Password</p>
    <p class="field"><input type="password" name="password" required/></p>
    <% if @mentee.errors.include?("password") %>
        <% @mentee.errors["password"].each do |error| %>
           <p class="error"><strong>Password <%= error %></strong></p>
        <% end %>
    <% end %>
    </div>
     <button type="submit" id="button" name="mentee_submit"> Submit </button>
</form>
</div>
<%= erb :"commons/footer" %>