<%= erb :"commons/header" %>
    <header>
        <figure><img src="/university-img.svg" alt="The University of Sheffield logo"></figure>
    </header>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
                    <figcaption>University email</figcaption>
                </figure>
            </div>
            <nav class="menu">
                <li><a href="my-account"> My Account</a></li>
                <li><a href="find-mentor"> Find A Mentor</a></li>
                <li><a href="requests"> My Requests</a></li>
                <li><a href="get-help"> Get Help</a></li>
            </nav>
        </aside>
        <main>
            <section id="profile"> 
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
                </figure>
            </section>
            <section id="information"> 
                <h2> Basic information</h2>
                <% unless @name.nil?&&@email.nil? && @year_of_study.nil? %>
                <p> name: <strong><%= @name %></strong></p>
                <p> email: <strong><%= @email %></strong></p>
                <p> Year of Study: <strong><%= @year_of_study %></strong></p>
                <% end %>
                <button onclick="showForm()">Edit details</button>
                <form method="post" action="/my-account" id="accDetails">
                        <label for="email">Enter your Email</label>
                        <input type="email" name="email" id="email" required>
                        <label for="name">Enter your full name</label>
                        <input type="name" name="name" id="name" required>
                        <label> choose year of study </label>
                         <select  name="year_of_study">
                          <option >1st</option>
                          <option >2nd</option>
                          <option >3rd</option>
                          <option >4th</option>
                        </select>
                        <label for="biography">Edit your biography:</label>
                        <textarea name="biography" id="biography" rows="10" cols="40" ></textarea>
                        
                        <button type="submit" action="submit" id="button"> save changes</button>
                    </form>
                <script>
                    function showForm() {
                        var x = document.getElementById("accDetails");
                          if (x.style.display === "none") {
                            x.style.display = "block";
                          } else {
                            x.style.display = "none"; 
                          } 
                    }
                </script>
            </section>
        </main>
</div>
<%= erb :"commons/footer" %>