<%= erb :"commons/header" %>
<header>
    <figure><img src="/university-img.svg" alt="The University of Sheffield logo"></figure>
</header>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
                    <figcaption>University email</figcaption>
                </figure>
            </div>
            <nav class="menu">
                <li><a href="my-account-mentee"> My Account</a></li>
                <li><a href="find-mentor"> Find A Mentor</a></li>
                <li><a href="requests"> My Requests</a></li>
                <li><a href="get-help"> Get Help</a></li>
            </nav>
        </aside>
        <main>
            <section id="profile"> 
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
                </figure>
            </section>
            <section id="information"> 
                <h2> Basic information</h2>
                <p> User type: Mentee. </p>
                <p> First name: <strong><%= @mentee.first_name %></strong></p>
                <p> Surname: <strong><%= @mentee.surname %></strong></p>
                <p> Email: <strong><%= @mentee.email %></strong></p>
                <p> Year of Study: <strong><%= @mentee.year_of_study %></strong></p>
                <p> Biography: <strong> <%= @mentee.biography %></strong></p>
                <button class="button">Edit details</button>
                <form method="post" action="/my-account-mentee" id="accDetails" class="accDetails">
                        <label for="email">Enter your Email</label>
                        <input type="email" name="email" id="email" value="<%= h @mentee.email%>" required>
                        <label for="first_name">Enter your first name</label>
                        <input type="name" name="first_name" id="name" value="<%= h @mentee.first_name%>" required>
                        <label for="surname">Enter your surname</label>
                        <input type="name" name="surname" id="name" value="<%= h @mentee.surname%>" required>
                        <label> Choose year of study </label>
                         <select name="year_of_study">
                          <option >1st</option>
                          <option >2nd</option>
                          <option >3rd</option>
                          <option >4th</option>
                        </select>
                        <label for="biography">Edit your biography:</label>
                        <textarea name="biography" id="biography" rows="10" cols="40" value="<%= h @mentee.biography%>"></textarea>
                        <button type="submit" action="submit" id="button"> save changes</button>
                    </form>
                <script>
                    var submitButton = document.getElementsByClassName('button')[0]
                    var accdetails = document.getElementsByClassName('accDetails')[0]
                    submitButton.addEventListener('click',function(a){accdetails.classList.toggle('active')})
                </script>
            </section>
        </main>
</div>
<%= erb :"commons/footer" %>