<%= erb :"commons/header" %>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
<!--                     <figcaption><%= @mentee.email %></figcaption> -->
                </figure>
            </div>
            <nav class="menu">
                <li><a href="/my-account-mentee"> > My Account</a></li>
                <li><a href="/find-mentor"> > Find A Mentor</a></li>
                <li class="menu_selected"><a href="/requests-mentee"> > My Requests</a></li>
                <li><a href="/get-help-mentee"> > Get Help</a></li>
                <li><a href="/"> > Logout</a></li>
            </nav>
        </aside>
      <main>
         <% if @mentor_req_ids.count > 0 %>
            <div id="mentor-bottom">
               <h2>Pending</h2> 
               <h2 id="orange"> Requests:</h2>
            </div>          
            <div class = "mentorsList">
               <% (@mentors).each do |mentor| %>
                  <% if @mentor_req_ids.include? mentor[:id] %>
                     <div class="mentor">
                        <section id="mentor-top">
                        </section>
                        <section id="mentor-bottom">
                           <aside>
                              <div id="profile">
                                 <figure>
                                    <img src="/background.jpeg" alt="personal Id picture">
                                 </figure>
                              </div>
                           </aside>
                           <main>
                              <h1> <%= mentor[:first_name] %> <%= mentor[:surname] %> </h1>
                              <p>Industry: <%= mentor[:industry] %></p>
                              <p>Degree field: <%= mentor[:degree_field] %></p>
                              <p>Bio: <%= mentor[:biography] %></p>
                           </main>
                        </section>
                     </div>
                  <% end %>
            <% end %>
         </div>
         
      <% elsif @mentor_accepted_ids.count > 0 %>
         <div id="mentor-bottom">
            <h2>Accepted</h2> 
            <h2 id="orange"> Requests:</h2>
         </div>
         <div class = "mentorsList">
            <% (@mentors).each do |mentor| %>
               <% if @mentor_accepted_ids.include? mentor[:id] %>
                  <div class="mentor">
                     <section id="mentor-top">
                        <form method="post" action="/deleteMethod" >
                           <button id="request" type="submit">Delete</button>
                           <input type="hidden" id="mentorId" name="mentorId" value=<%= mentor[:id] %> >
                           <input type="hidden" id="mentorEmail" name="mentorEmail" value=<%= mentor[:email] %> >
                        </form>
                     </section>
                     <section id="mentor-bottom">
                        <aside>
                           <div id="profile">
                              <figure>
                                 <img src="/background.jpeg" alt="personal Id picture">
                              </figure>
                           </div>
                        </aside>
                        <main>
                           <h1> <%= mentor[:first_name] %> <%= mentor[:surname] %> </h1>
                           <p><%= mentor[:biography] %></p>
                           <p><%= mentor[:email] %></p> 
                        </main>
                     </section>
                  </div>
               <% end %>
            <% end %>
         </div>
      <% else %>
         <p>No Requests.</p>
      <% end %> 
   </main>
</div>
<%= erb :"commons/footer" %>