<%= erb :"commons/header" %>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/background.jpeg" alt="personal Id picture">
                    <figcaption><%= @mentor.email %></figcaption>
                </figure>
            </div>
            <nav class="menu">
                <li><a href="/my-account-mentor"> > My Account</a></li>
                <li class="menu_selected"><a href="/requests-mentor"> > My Requests</a></li>
                <li><a href="/get-help-mentor"> > Get Help</a></li>
                <li><a href="/"> > Logout</a></li>
            </nav>
        </aside>
        <main>
            <h1>Requests:</h1>
             <% if @requests.count > 0 %>
              <div class = "mentorsList">
                 <% (@mentees).each do |mentee| %>
                     
                     <div class="mentor">
                           <section id="mentor-top">
                           </section>
                           <section id="mentor-bottom">
                               <aside>
                                   <div id="profile">
                                       <figure>
                                       <img src="/background.jpeg" alt="personal Id picture">
                                       </figure>
                                   </div>
                               </aside>
                               <main>
                                <h1> <%= mentee[:first_name] %> <%= mentee[:surname] %> </h1>
                                <p><%= mentee[:biography] %></p>
                               </main>
                           </section>
                     </div>   
              <% end %>
              </div>
              <% else %>
                   <p>No Requests.</p>
              <% end %> 
        </main>
</div>
<%= erb :"commons/footer" %>