<%= erb :"commons/header" %>
<div id="page">
        <aside>
            <div id="profile">
                <figure>
                    <!--this img just for testing-->
                    <img src="/mentor.jpg" alt="personal Id picture">
                    <figcaption><%= @mentor.email %></figcaption>
                </figure>
            </div>
            <nav class="menu">
                <li><a href="/my-account-mentor"> > My Account</a></li>
                <li class="menu_selected"><a href="/requests-mentor"> > My Requests</a></li>
                <li><a href="/get-help-mentor"> > Get Help</a></li>
                <li><a href="/"> > Logout</a></li>
            </nav>
        </aside>
        <main>
           <div id="mentor-bottom">
                       <h2>Pending</h2> 
                       <h2 id="orange"> Requests:</h2>
                    </div>
             <% if @requests.count > 0 %>
              <div class = "mentorsList">
                 <% (@mentees).each do |mentee| %>
                    <% if @mentee_req_ids.include? mentee[:id] %>
                        <div class="mentor">
                             <div id="accept-reject">
                                 <div id="accept">
                                     <form method="post" action="/acceptMethod" >
                                    <button id="request" type="submit">Accept</button>
                                       <input type="hidden" id="menteeId" name="menteeId" value=<%= mentee[:id] %> >
                                       <input type="hidden" id="menteeEmail" name="menteeEmail" value=<%= mentee[:email] %> >
                                 </form> 
                                 </div>
                                 <div id="reject">
                                    <form method="post" action="/rejectMethod" >
                                    <button id="request" type="submit">Reject</button>
                                    <input type="hidden" id="menteeId" name="menteeId" value=<%= mentee[:id] %> >
                                    <input type="hidden" id="menteeEmail" name="menteeEmail" value=<%= mentee[:email] %> >
                                 </form>   
                                 </div>
                                  
                            </div>
                                 
                              
                              <section id="mentor-bottom">
                                  <aside>
                                      <div id="profile">
                                          <figure>
                                          <img src="/mentee.jpg" alt="personal Id picture">
                                          </figure>
                                      </div>
                                  </aside>
                                  <main>
                                   <h1> <%= mentee[:first_name] %> <%= mentee[:surname] %> </h1>
                                   <p><%= mentee[:biography] %></p>
                                  </main>
                              </section>
                        </div>
                    <% end %>
              <% end %>
              </div>
              <% else %>
                   <p>No Requests.</p>
              <% end %>
           
           <div id="mentor-bottom">
                       <h2>Accepted</h2> 
                       <h2 id="orange"> Requests:</h2>
                    </div>
             <% if @requests.count > 0 %>
              <div class = "mentorsList">
                 <% (@mentees).each do |mentee| %>
                    <% if @mentee_accepted_ids.include? mentee[:id] %>
                        <div class="mentor">
                              <section id="mentor-top">
                              </section>
                              <section id="mentor-bottom">
                                  <aside>
                                      <div id="profile">
                                          <figure>
                                          <img src="/mentee.jpg" alt="personal Id picture">
                                          </figure>
                                      </div>
                                  </aside>
                                  <main>
                                   <h1> <%= mentee[:first_name] %> <%= mentee[:surname] %> </h1>
                                   <p><%= mentee[:biography] %></p>
                                   <p><%= mentee[:email] %></p>
                                  </main>
                              </section>
                        </div>
                    <% end %>
              <% end %>
              </div>
              <% else %>
                   <p>No Requests.</p>
              <% end %> 
        </main>
</div>
<%= erb :"commons/footer" %>